@import url('https://fonts.googleapis.com/css2?family=Pushster&family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');} 




.waver{
	back="white";
}
body{
	overflow-x: hidden;
}
.logo img{
	width: 50px;
	height: 50px;
	margin: 10px;
	border-radius: 100%;
}
.logo{
	letter-spacing: 5px;
	font-size: 30px;
	margin-left: 20px;
}
.logo-text{
	font-family: 'Pushster', cursive;
	margin-top: 13px;
}
.header{
	display: flex;
}
.menu-bar{
	display: none;
	
}
.menu-bar img{
	width: 50px;
	height: 50px;
	margin: 10px;
	border-radius: 100%;
}
.menu-logo{
	margin:14px	 55px;
	cursor: pointer;
}
.menu-logo-line{
	height: 10px;
	width: 30px;
	border-bottom: 2px black solid;
}
.header-but{
	font-family: 'Roboto Slab', serif;
	height: 70px;
	padding-top: 20px;
	margin-left: 18px;
	margin-right: 18px;
	font-size: 20px;
	cursor: pointer;

}
.share-cont{
	margin-top: 25px;
	margin-right: 20px;
}
.share-cont img{
	cursor: pointer;
	margin-right: 10px;
	margin-left: 10px;
}
.discord{
	cursor: pointer;
	background-color: rgb(255, 179, 26);
	color: black;
	width: 100px;
	height:40px;
	font-weight: 600;
	padding: 7px;
	text-align: center;
	margin-top: -6px;
	margin-left: 10px;
	margin-right: 15px;
}
.header-but::after{
	content: '';
	display: block;
	width: 0px;
	height: 2px;
	transition: width 0.4s;
	background-color: blue;
}
.header-but:hover::after{
	width: 100%;
}
.menu-bar{
	border-bottom: 0.5px grey solid;
}
.menu-bar-down-cont{
	display: none;
	text-align: center;
	animation-fill-mode: forwards;
}
.menu-bar-but{
	background-color: rgb(5, 56, 107);
	color: white;
	animation-fill-mode: forwards;
	display: none;
	opacity: 0px;
	padding: 10px;
	font-size: 20px;
	border-bottom:2px white solid;
}
@keyframes menu-go-down{
	from{height:0px;}
	to{height: 260px;}
}
@keyframes menu-go-up{
	from{height:260px;}
	to{height: 0px;}
}
@keyframes for_opacity{
	from{opacity: 0;}
	to{opacity: 1;}
}
@keyframes for_back_opacity{
	from{opacity: 1;}
	to{opacity: 0;}
}




.nft-top-display{
	flex-direction: row;
	justify-content: space-around;
	padding: 30px;
	background-image: url("back.png");
	background-repeat: no-repeat;
	background-size: auto;
	height: auto;
	perspective: 1000px;
}

.nft-top-display-text{
	margin: 20px auto;
	width:500px;
}
.moving-text{
	letter-spacing: 4px;
	text-align: center;
	margin-top:30px;
	font-size: 60px;
	font-family: 'Acme', sans-serif;
	color: rgb(255, 0, 102);
	text-shadow: 2px 2px black;
}
.top-display-text-1{
	text-align: center;
	letter-spacing: 4px;
	margin-top: 20px;
	font-size: 30px;
	font-family: 'Roboto Slab', serif;
}
.top-display-but{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:150px;
	font-size: 20px;
	background-color: rgb(26, 140, 255);
	color:rgb(217, 217, 217);
	padding: 5px;
	text-align: center;
	margin-top: 30px;
	font-weight: 500;
	box-shadow: 2px 5px rgb(0, 89, 179); 
	cursor: pointer;
}
.top-display-but:hover{
	transform: translateY(-3px);
	box-shadow: 3px 6px 4px rgb(0, 89, 179);
}

.nft-top-display-img{
	margin: auto 25px;
	width: 500px;
	height: 375px;
	perspective: 1000px;

}
.nft-top-display-img img{
	width: 100%; 
	height: 100%; 
	transition: 0.5s;
	cursor: pointer; 
	border-radius: 30px; 
	border:2px black solid; 
	box-shadow: 0px 0px 5px black;
}
.nft-top-display-img img:hover{
	box-shadow: 0px 0px 25px black;
}







.nft-display-cont{
	background-color: black;
	padding: 5px;
	position: relative;
}


.nft-display{
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
	grid-auto-rows: 250px;
	padding: 20px 20px 30px 20px;
}
.nft-card{
	border:2px grey solid;
	border-radius: 20px;
	box-shadow: 0px 0px 5px grey;

}
.big-card{
	display: none;
	border:2px grey solid;
	border-radius: 20px;
	box-shadow: 0px 0px 5px grey;
	grid-row-start: 1;
	grid-row-end: 3;
}
.curve{
	position: relative;
	height: 200px;
}
.curve::after{
	content: '';
	display: block;
	position: absolute;
	border-radius: 100% 100%;
	height: 350px;
	width: 50%;
	background-color: black;
	transform: translateY(-172px);
	z-index: -1;
}
.features{
	position: relative;
	background-color:rgb(227, 226, 223);
}
.features-heading{
	font-family: 'Patua One', cursive;
	color: rgb(154, 23, 80);
	text-align: center;
	font-size: 60px;
	padding:20px;

}
.features-cont{
	position: relative;
	perspective: 1000px;
	flex-direction: row;
	margin-top: 20px;
	margin-bottom: 0px;
	padding: 10px;
}
.features-cont-img{
	transform: rotateY(180deg);
	border-radius: 20px;
	height: 275px;
	width: 300px;
	background-color: red;
	box-shadow: 2px 2px 5px black;
	margin: 0px 20px;
}


.features-cont-text{
	flex-direction: column;
	border-radius: 20px;
	margin-top: 5px;
	height: 250px;
	width: 650px;
}
.cont-text-head{
	margin-bottom: 10px;
	letter-spacing: 4px;
	text-align: center;
	font-weight: 800;
	color:rgb(238, 76, 124);
	font-size: 30px;
	font-family: 'Patua One', cursive;
	text-shadow: 2px 2px rgb(154, 23, 80);
}
.cont-text-para{
	text-align: center;
	font-size: 20px;
	width: 100%;
}
.wave-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave-space{
	height: 200px;
}
.trending{
	position: relative;
	aspect-ratio:1000/600;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(wave-back-4.svg);
	z-index: 1;
}
.trending-heading{
	background-color: ;
	letter-spacing: 4px;
	text-shadow: 2px 2px rgb(188, 152,  106);
	font-family: 'Libre Baskerville', serif;
	font-size: 40px;
	color: white;
	text-align: center;
	margin: 20px;
}
.front{
	border-radius: 20px;
	height: 450px;
	width: 330px;
	margin:auto;
}
.wave-2{
	background-image: url(footer.jpeg);
	height: 125px;
	width: 100%;
}
.wave-2::after{
	content: '';
	display: block;
	height: 250px;
	width: 100%;
	border-radius: 100% 100%;
	background-color: rgb(101, 157, 189);
	z-index: -1;
	transform: translateY(-125px);
}


.footer{
	margin-top: 30px;
	width: 100%;
	position: relative;
	color: rgb(255, 255, 255);
	background-image: url(footer.jpeg);
}
.footer-head{
	width: 100%;
	text-align: center;
	color: white;
	font-size: 40px;
	font-family: 'Playfair Display', serif;
	margin-bottom: 30px;
}
.footer::before{
	content: '';
	display: block;
	position: absolute;
	height: 200px;
	width: 100%;
	transform: translateY(-200px);
	z-index: -1;
	background-image: url(footer.jpeg);
}
.foot-social{
	flex-direction: row;
	width:100%;
	margin:auto;
	font-size: 20px;
}
#end{
	margin-bottom: 30px;
}
.site{
	margin:auto;
}




@media only screen and (max-width: 1125px){
	.nft-top-display-img{
		margin: auto 25px;
		width: 450px;
		height: 355px;
		perspective: 1000px;

	}
	.moving-text{
		font-size: 50px;
	}
	.top-display-text-1{
		font-size: 25px;
	}
	.logo-text{
		display: none;
	}
	.header-but{
		font-size: 17px;
	}

}



@media only screen and (max-width: 900px){
	.nft-top-display{
		flex-direction: column;
	}
	.header{
		display: none;
	}
	.menu-bar{
		display: flex;
		justify-content: space-around;
	}
	.logo-text{
		display: block;
	}
	.nft-top-display-img{
		margin: 30px auto;
		height: 400px;
		width: 480px;
	}
	.moving-text{
		margin-top: 0px;
		font-size: 60px;
	}
	.top-display-text-1{
		font-size: 30px;
	}
	.nft-display{
		grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
		grid-gap: 20px;
	}
	.big-card{
		width: auto;
	}
	.features-cont-img{
		margin:0px 40px;
	}
	.cont-text-head{
		font-size: 23px;

	}
	.cont-text-para{
		font-size: 16px;
	}
	.features-cont-img{
		margin: 20px 40px;
	}
}

@media only screen and (max-width: 700px){	
	.nft-display{
		margin:20px 20px;
		grid-template-columns: auto;
		grid-auto-rows: 200px;
		grid-gap: 40px auto;
	}
	.big-card{
		display: none;
		border:2px grey solid;
		border-radius: 20px;
		box-shadow: 0px 0px 5px grey;
		grid-row-start: 1;
		grid-row-end: 3;
	}	
	.nft-top-display-text{
		width: 100%;
		margin-top: 0px;
	}
	.nft-top-display-img{
		margin: 20px auto;
		width: 400px;
		height: 305px;

	}
	.features-cont{
		flex-direction: column;
		margin-top: 0px;
		margin-bottom: 20px;
	}
	#last-features-cont{
		margin-bottom: 0px;
	}
	.features-cont-img{
		margin: 20px auto;
	}
	.features-cont-text{
		height: auto;
		width: 100%;
	}
	.cont-text-head{
		margin: 20px;
	}
	
	.front{
		top: 50px;
	}
	.foot-social{
		flex-direction: column;
	}
	.site{
		margin:20px 20px;
	}
	
}

@media only screen and (max-width: 650px){
	.front{
		top: 100px;
	}
	.nft-top-display-img{
		width: 100%;
	}
	
}

